DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shop_barber?schema=public"
NODE_ENV=development
PORT=4870

# JWT
JWT_ACCESS_SECRET="change-me-access"
JWT_REFRESH_SECRET="change-me-refresh"
JWT_ACCESS_EXPIRES="15m"
JWT_REFRESH_EXPIRES="7d"
